main {
    height: 70vh;
    max-width: 103.125rem;

    padding: 0 4.5rem;
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    gap: 3.3rem;

    > .image {
        @include size(100%);
        //margin-top: 0.39rem;

        img {
            @include img-fluid();
        }
    }

    > .content {
        @include flex(column, center, flex-start);
        //margin-top: calc(9vh + 0.31rem);
        gap: 1.25rem;

        p {
            font-family: $theme-alt-font;
            font-size: 1.12rem;
            margin-right: 1rem;
        }
    }

    @include media-breakpoint-up($screen-md, max-width) {
        padding: 0 2rem;
    }

    @include media-breakpoint-up($screen-xl, max-width) {
        height: fit-content;
        grid-template-columns: auto;
        gap: 1rem;
        padding: 0 3rem;

        .content {
            margin: 2rem 0 4rem 0;
            align-items: center;
            text-align: center;
            gap: 2rem;

            p {
                margin-right: 0;
            }
        }
    }
    
    @include media-breakpoint-up($screen-rwd, min-width) {
        align-items: center;
        margin: 0 auto;

        .content {
            margin: 0;
        }
    }
}